<footer class="footer">
  <section class="row">
    <h5 class="logo columns large-2 show-for-large-up"><span>Ticketmaster Mobile Studio</span></h5>
    <div class="columns large-6 large-offset-2 medium-8">
      <p>318 Blackwell Street, Suite 150<br/>Durham, NC 27701</p>
      <p><strong><a href="mailto:hello@ticketmastermobilestudio.com">hello@ticketmastermobilestudio.com</a></strong></p>
    </div>
    <div class="columns large-2 medium-4">
      <ul>
        <li><a target="_blank" href="http://twitter.com/tmsdurham">Twitter</a></li>
        <li><a target="_blank" href="https://www.facebook.com/tmsdurham?fref=ts">Facebook</a></li>
        <li><a target="_blank" href="https://www.github.com/ticketmaster">Github</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company/ticketmaster-mobile-studio">LinkedIn</a></li>
      </ul>
    </div>
  </section>
</footer>
<script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
<script>try{Typekit.load();}catch(e){}</script>    
{% if site.google_analytics_id != "" %}
{% include google_analytics.html %}
{% endif %}	    