  <section id="openings">
      <article class="row">
        <detail class="job columns large-3 medium-6 small-12">
          <a href="{{ site.baseurl }}/careers/ios-engineer.html">
            <span>
              <h4 id="ios">Opening</h4>
              <h3>Senior Mobile Engineer, iOS</h3>
            </span>
          </a>
        </detail>
        <detail class="job columns large-3 medium-6 small-12">
          <a href="{{ site.baseurl }}/careers/senior-qa-engineer.html">
            <span>
              <h4 id="pm">Opening</h4>
              <h3>Senior QA Engineer</h3>
            </span>
          </a>
        </detail>
        <detail class="job columns large-3 medium-6 small-12">
          <a href="{{ site.baseurl }}/careers/ios-manager.html">
            <span>
              <h4 id="ios" >Opening</h4>
              <h3>Mobile Development Manager, iOS</h3>
            </span>
          </a>
        </detail>
        <detail class="job columns large-3 medium-6 small-12">
          <a id="more" href="{{ site.baseurl }}/careers">
            <span>
              <h4>Join Us</h4>
              <h3>See All Openings</h3>
            </span>
          </a>
        </detail>
      </article>
      </section>