<section id="openings">
  <article class="row">
    {% for post in site.categories.careers limit:3%}
      {% if post.url %}
          <detail class="job columns large-3 medium-6 small-12">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <span>
                <h4 id="{{ post.jobtype }}">Opening</h4>
                <h3>{{ post.title }}</h3>
              </span>
            </a>
          </detail>          
      {% endif %}
    {% endfor %}
    <detail class="job columns large-3 medium-6 small-12">
      <a id="more" href="{{ site.baseurl }}/careers">
        <span>
          <h4>Join Us</h4>
          <h3>See All Openings</h3>
        </span>
      </a>
    </detail>
  </article>
</section>