#blog {
	.top {
		background-image: url(../images/blog-bg.jpg);

		h2 {
			margin-top: rem-calc(32px);
			margin-bottom: rem-calc(16px);
			@media #{$medium-up} {
				margin-top: rem-calc(48px);
				margin-bottom: 0;
			}
			@media #{$large-up} {
				margin-top: rem-calc(104px);
			}		
		}

	    a.button {
	      margin-bottom: rem-calc(8px);
	      margin-top: rem-calc(16px);
	      @media #{$medium-up} {
	        margin-top: rem-calc(24px);
	      }
	      @media #{$large-up} {
	        margin-top: rem-calc(52px);
	      }
	    }
	}
	.main {
		background-color: $white;
		padding-top: rem-calc(80px);
		padding-bottom: rem-calc(40px);

		.button {
			color: $primary-color;
			border: 1px solid;
			box-shadow: none;
			padding: rem-calc(12px 24px);
		}

		.posts {
			list-style: none;
			margin: rem-calc(0 0 40px 0);

			>li {
				margin-bottom: rem-calc(80px);
			}

		    h3 {
		                             font-size: rem-calc(30px);
		      @media #{$medium-up} { font-size: rem-calc(36px); }
		      @media #{$large-up}  { font-size: rem-calc(48px); }
		      @media #{$xlarge-up} { font-size: rem-calc(60px); }

		      a {
		      	color: inherit;
		      	&:hover { opacity: 0.5; }
		      }
		    }

			p, li ul {
				@include bodyfontsize;
				color: $steel;
			}
		}

		// Code blocks
	    pre.highlight {
	      margin: rem-calc(40px) 0;
	      background-color: $ghost;
	      padding: 1rem;
	      overflow: auto;
	    }

		.pagination {
			display: flex;
			justify-content: space-between;
			color: $iron;
			margin: rem-calc(80px 0 40px 0);
			overflow: auto;

			span, .button {
				background-color: transparent;
				border: 1px solid;
				@include bodyfontsize;
				border-radius: rem-calc(40px);
				padding: rem-calc(12px 24px);
			}

			a {
				&:hover {
					opacity: 0.5;
				}
			}

			.previous, .next, .page_number {
				flex: 1;
			}

			.previous {
				margin-right: rem-calc(20px);
			}

			.page_number {
				margin: 0 auto;
				text-align: center;
				border: none;
				color: $steel;
			}
			.next {
				text-align: right;
				margin-left: rem-calc(20px);
			}
		}

		.sidebar {
			ul {
		      list-style: none;
		      margin: rem-calc(20px 0 40px);

		      li {
		        @include bodyfontsize;
		        margin: rem-calc(0 0 8px 0);

		        a {
		          span {
		            background-color: $primary-color;
		            display: inline-block;
		            height: 1.5em;
		            min-width: 1.5em;
		            font-size: 0.7em;
		            text-align: center;
		            margin-left: rem-calc(8px);
		            border-radius: rem-calc(40px);
		            padding: rem-calc(0 8px);
		            color: $white;
		          }

		          &:hover span {
		            background-color: $anchor-font-color-hover;
		          }
		        }
		      }
		    }
		}
	}
}