#spacer {
  margin: rem-calc(16px 16px 0px 16px);

  h1#logo {
    display: block;
    transition: all 0.2s easeInOutBack;
    background-image: url(../images/logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: rem-calc(88px);
    width: rem-calc(161px);
    padding: 0;
    margin:0 0 1rem;

    span {
      display: none;
    }
  }

  @media #{$medium-up} {
    position: relative;
    border: none;
    margin: 0;
    height: rem-calc(56px);
  }
}

header.masthead {
  &.contain-to-grid {
    background: $primary-color;
    transition: all 0.2s ease-in-out;
  }

  .title-area {
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

  .menu-icon {
    z-index: 10;

    #home:not(.f-topbar-fixed) & {
      display: none;
    }
  }

  #logo {
    padding: 0;
    margin: 0;

    a {
      display: block;
      transition: all 0.2s easeInOutBack;
      background-image: url(../images/logo.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: rem-calc(88px);
      width: rem-calc(161px);
      padding: 0;
      margin: 0 0 0 0;

      &:before {
        transition: all .2s ease-in-out;
        content: " ";
        display: block;
        background-image: url(../images/logo_blue.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;  
      }

      span {
        display: none;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  a#start {
    background-image: url(../images/tms.svg);
    background-size: rem-calc(60px 20px);
    background-repeat: no-repeat;
    background-position: left center;
    display: none;
    float: left;
    height: rem-calc(44px);
    width: rem-calc(76px);

    span {
      display: none;
    }
  }

  .nav-items {
    text-align: left;

    a {
      color: $white;
      @include bodyfontsize;
      text-transform: uppercase;
      font-weight: light;

      &:hover {
        opacity: 0.5;
      }
    }

    @media #{$medium-up} {
      a#start {
        display: none;
      }

      text-align: right;
    }

    @media #{$large-up} {
      a {
        font-size: rem-calc(20px);
      }
    }
  }

  &.fixed, .top-bar.fixed {
    position: fixed;
    background: transparentize($white, .03);
    border-bottom: 1px solid transparentize($black, 0.88);
    box-shadow: 0 0 rem-calc(8px) transparentize($black, .85);
    transition: all 0.4s easeInOutBack;

    #logo a {
      height: rem-calc(88);
      width: rem-calc(102px); 

      &:before {
        transition: all 0.6s ease-in-out;
        opacity: 1.0;
      }
    }

    .nav-items a {
      color: $primary-color;
    }

    @media #{$small-only} {
      a#start {
        display: block;
      }
    }
  }
}

@media #{$small-only} {
  #home:not(.f-topbar-fixed) {
    .top-bar-section {
      overflow: visible;
      top: -$topbar-height;

      li {
        float: left;
      }
    }
  }
}

@media #{$medium-up} {
  $top-bar-height: rem-calc(88);

  .top-bar {
    height: $top-bar-height;

    .name { height: $top-bar-height; }
    .name h1 { line-height: $top-bar-height; }
  }

  .top-bar-section li:not(.has-form) a:not(.button) { line-height: $top-bar-height; }
}