<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="blog">
      {% include header.html %}
      <section class="top">
        <div class="row">
          <div class="columns large-12">
            <h2>Letters from the mobile app trenches.</h2>
          </div>
          <div class="columns small-12 medium-6 large-6">
            <p>What's it like building iOS and Android apps for Ticketmaster here in the Bull City? Read on, dear friends.</p>
          </div>
        </div>
      </section>
      <section class="main">
        <div class="row">
          <div class="columns large-9 medium-9">
            {{ content }}
          </div>
          <div class="columns large-3 medium-3">
            <aside class="sidebar">
              <h3>Categories</h3>
              {% include all_categories.html %}
            </aside>
          </div>
        </div>
      </section>
        {% include openings.html %}
        {% include footer.html %}
    </body>
</html>
