<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="blog">
      {% include header.html %}
      <section class="top">
        <div class="row">
          <div class="columns large-12">
            <h2>
              What we've learned by<br />
              <span class="ticker">
                <span>
                  {% assign phrases =
                    'exploring
                    creating
                    listening
                    <u>not</u> listening
                    asking questions
                    testing
                    iterating
                    being crazy
                    pushing limits
                    moving quickly
                    breaking things'
                  | newline_to_br | strip_newlines | split: '<br />' %}
                  {% for phrase in phrases %}
                    <span>{{ phrase | strip }}. </span>
                  {% endfor %}
                  <span>{{ phrases.first }}. </span>
                </span>
              </span>
            </h2>
          </div>
        </div>
      </section>
      <section class="main">
        <div class="row">
          <div class="columns large-9 medium-9">
            <ul class="posts">
              {% for post in paginator.posts %}
                {% if post.url %}
                    <li>
                      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                      <p>
                        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %e, %Y' }}</time>
                        {% if post.categories.size > 1 %}&nbsp;&middot;&nbsp;{% endif %}
                        {% for category in post.categories %}{% unless category == 'blog' %}{% unless forloop.first %}, {% endunless %}<a href="{{ site.baseurl }}/blog/categories#{{ category | slugify }}" class="category">{{ category }}</a>{% endunless %}{% endfor %}
                      </p>
                      {% if post.content contains '<!--more-->' %}
                        {{ post.content | split: '<!--more-->' | first }}
                      {% else %}
                        {{ post.excerpt }}
                      {% endif %}
                      <a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
                    </li>
                {% endif %}
              {% endfor %}
            </ul>
            <!-- Pagination links -->
            <nav class="pagination">
              <div class="previous">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path }}">&larr; Previous Page</a>
                {% else %}
                  <!-- <span class="previous">&larr; Previous Page</span> -->
                {% endif %}
              </div>
              <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
              <div class="next">
                {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path }}">Next Page &rarr;</a>
                {% else %}
                  <!-- <span class="next ">Next Page &rarr;</span> -->
                {% endif %}
              </div>
            </nav>
          </div>
          <div class="columns large-3 medium-3">
            <aside class="sidebar">
              <h3>Categories</h3>
              {% include all_categories.html %}
            </aside>
          </div>
        </div>
      </section>
        {% include openings.html %}
        {% include footer.html %}
    </body>
</html>
