<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="career-detail">
      {% include header.html %}
    <section class="top">
      <article class="row">
        <h2 class="columns large-12">{{ page.title }} ({{ page.location }})</h2>
        <a class="button" target="_blank" href="{{ page.linkout }}">Apply Now</a>
      </article>
    </section>
    <section class="main">
        <article class="row job-desc">
          <h5 class="columns medium-3 large-3">The Role</h5>
          <div class="columns small-12 medium-9 large-9"><p>{{ page.role }}</p>
          <a class="button" href="{{ site.baseurl }}/about-us">Learn More About Us</a>
          </div>
        </article>
        <article class="row job-desc">
          <h5 class="columns medium-3 large-3">Responsibilities</h5>
          <div class="columns small-12 medium-9 large-9">
            <ul>
              {% for responsibility in page.responsibilities %}
              <li>{{ responsibility.resp }}</li>
              {% endfor %}
            </ul>
          </div>
        </article>  
        <article class="row job-desc">
          <h5 class="columns medium-3 large-3">Qualifications</h5>
          <div class="columns small-12 medium-9 large-9">
            <ul>
              {% for qualification in page.qualifications %}
              <li>{{ qualification.qual }}</li>
              {% endfor %}
              {% for qualification in page.qualifications %}
              {% if qualification.bonusqual%}
              <li><strong>Bonus:</strong> {{ qualification.bonusqual }}</li>
              {% endif %}
              {% endfor %}              
            </ul>
          </div>
        </article>                        
        <article class="row job-desc">
          <div class="columns large-12">
            <p>Applicants for employment in the U.S. must possess work authorization which does not require sponsorship by the employer for a visa.</p>
            <a class="button" target="_blank" id="applyend" href="{{ page.linkout }}" >Apply Now</a>
          </div>
        </article>      
        <article class="row req">
          <hr/>
          <div class="columns medium-6">
            <h5>Equal Employment Opportunity</h5>
            <p>Ticketmaster strongly supports equal employment opportunity for all applicants regardless of race, color, religion, sex, gender identity, pregnancy, national origin, ancestry, citizenship, age, marital status, physical disability, mental disability, medical condition, sexual orientation, genetic information, or any other characteristic protected by state or federal law.</p>
          </div>
          <div class="columns medium-6">
            <h5>Hiring Practices</h5>
            <p>The preceding job description has been designed to indicate the general nature and level of work performed by employees within this classification. It is not designed to contain or be interpreted as a comprehensive inventory of all duties, responsibilities, and qualifications required of employees assigned to this job. Ticketmaster recruitment policies are designed to place the most highly qualified persons available in a timely and efficient manner. Ticketmaster may pursue all avenues available, including promotion from within, employee referrals, outside advertising, employment agencies, Internet recruiting, job fairs, college recruiting and search firms.</p>
          </div>
        </article>
      </section>        
        {% include openings.html %}
        {% include footer.html %}
    </body>
</html>
