<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="careers">
      {% include header.html %}
      <section class="top">
        <article class="row">
          <h2 class="columns large-12">Why Ticketmaster Mobile Studio?</h2>
          <p class="columns small-12 medium-6 large-6">
            A career at Ticketmaster will challenge and engage you. The pace here is fast, the atmosphere is fun and a passion for live events is a common thread that ties us together. As a global and growing business, we can truly offer a world of opportunities to expand your skills and develop your career.  
          </p>
        </article>
      </section>
      <section class="main">
          <article id="positions" class="row">
            <h2 class="columns large-12">Current Openings in Durham</h2>
            <ul class="columns small-12 medium-12 large-6">
              <li><a href="{{ site.baseurl }}/careers/ios-engineer.html">Senior Mobile Engineer, iOS</a></li>
              <li><a href="{{ site.baseurl }}/careers/ios-manager.html">Mobile Development Manager, iOS</a></li>
              <li><a href="{{ site.baseurl }}/careers/senior-qa-engineer.html">Senior QA Engineer</a></li>
            </ul>
          </article>
          <article id="benefits" class="row">
            <hr/>
            <h2 class="columns large-12">Benefits + Perks</h2>
            <div class="columns small-12 medium-6 large-6 large-body-text">
              <ul>
                <li>Medical, Dental and Vision insurance</li>
                <li>Life insurance</li>
                <li>Disability coverage</li>
                <li>401K with matching</li>
                <li>10 vacation days in addition to 2 personal days, 9 company holidays and 5 sick days</li>
                <li>Year-end holiday break</li>
                <li>Preferred pricing and employee discounts for select products and services</li>
              </ul>
            </div>
            <div class="columns small-12 medium-6 large-6 large-body-text">
              <ul>
                <li>Ticket perks: free lawn entry to Live Nation amphitheaters, two free tickets to a Live Nation concert, free festival tickets, and more.</li>
                <li>A focus on learning and sharing knowledge through regular team events</li>
                <li>In-house mentoring program</li>
                <li>Family-friendly company outings</li>
                <li>Flexible work policy</li>
              </ul> 
            </div>      
          </article>
      </section>      
        {% include openings.html %}
        {% include footer.html %}
    </body>
</html>
