<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="events">
      {% include header.html %}
      <section class="top">
        <article class="row">
          <h2 class="columns large-12">Being Involved in the Community is Critical to Our Success</h2>
          <p class="columns small-12 medium-6 large-6">
            We choose to participate or lead events in areas where we can use our expertise to make a real positive impact.
          </p>
        </article>
      </section>
      <section class="main">
        <article id="upcoming-events" class="row">
          <h2 class="columns large-12">Upcoming Events</h2>
          <ul class="columns large-12">
            {% assign curDate = site.time | date: '%s' %}
            {% for post in site.categories.events reversed %}
              {% assign postStartDate = post.date | date: '%s' %}
              {% if post.url %}
                  {% if postStartDate >= curDate %}
                  <li class="columns medium-12 large-6 eventlisting">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <h3>{{ post.title }}</h3>
                      <h4>{{ post.date | date: '%b %d' }} &bull; {{ post.eventtype }}</h4>
                      {{ post.excerpt }}
                    </a>
                  </li>
                  {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </article>
        <article id="past-events" class="row">
          <hr/>
          <h2 class="columns large-12">Past Events</h2>
          <ul class="columns large-12">
            {% assign curDate = site.time | date: '%s' %}
            {% for post in site.categories.events %}
              {% assign postStartDate = post.date | date: '%s' %}
              {% if post.url %}
                  {% if postStartDate < curDate %}
                  <li class="columns medium-12 large-6 eventlisting">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.date | date: '%b %d, %y' }} &bull; {{ post.eventtype }}</p>
                    </a>
                  </li>
                  {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </article>
      </section>      
        {% include openings.html %}
        {% include footer.html %}
    </body>
</html>
