<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="about">
      {% include header.html %}
      <section class="top">
        <article class="row">
          <h2 class="columns">What’s our canvas?</h2>
          <p class="columns small-12 medium-6 large-6">
            At Ticketmaster Mobile Studio, we’re challenged to find and solve problems for mobile users, from the best means of event discovery for fans to planning and analytics solutions for venues and artists.  
          </p>
        </article>
      </section>
      <section id="model">
          <article class="row">
            <detail class="columns small-12 medium-6"><img src="{{ site.baseurl }}/images/model-fan.svg"/></detail>
            <detail class="columns small-12 medium-6"><img src="{{ site.baseurl }}/images/model-liveevent.svg"/></detail>
            <p class="columns medium-12">As part of Ticketmaster, we have opportunities to build great experiences and generate value at every stage of these lifecycles. Broadly speaking, we have a mandate to disrupt the live entertainment industry.</p>
          </article>
      </section>
      <section id="how">
        <article class="row">
          <h2 class="columns medium-12">How are we doing it?</h2>
          <p class="columns small-12 medium-6 large-6">We're going to create great experiences by building on existing product and launching entirely new ones. Generally, we approach problems holistically: combine thoughtful product strategy, intuitive design, and solid technical architecture to produce great products. However, we believe that the key to crafting products a cut above the rest is in establishing an unconstrained environment where we can learn from successes and failures to iterate and improve our process.</p>
          <p class="columns small-12 medium-6 large-6">Moreover, our discovery process is an integral element of all of our projects, and involves the entire team. We research the current and competitive landscape, interview users and stakeholders to develop a product strategy. We then engage in collaborative ideation sessions to uncover opportunities, clarify goals and map out the user experience of an app, all before writing the first line of code.</p>
        </article>
      </section>
      <section id="photos">
        <img src="{{ site.baseurl }}/images/about1.jpg" alt="Adit and Dustin looking busy"/>
        <img src="{{ site.baseurl }}/images/about2.jpg" alt="Jill and Prachi catching some rays"/>
        <img src="{{ site.baseurl }}/images/about3.jpg" alt="X-Wing Fighter: We love Star Wars and Lego pretty much universally"/>
        <img src="{{ site.baseurl }}/images/about4.jpg" alt="Jason with that Ticketmaster sticker"/>
        <img src="{{ site.baseurl }}/images/about5.jpg" alt="Look at this dynamic angle of our office"/>
        <img src="{{ site.baseurl }}/images/about6.jpg" alt="Duncan writing some code"/>
      </section>
      <section id="about-us">
        <article class="row">
          <h2 class="columns medium-12">About us</h2>
          <p class="columns small-12 medium-6 large-6">Ticketmaster Mobile Studio is a tight-knit team of professionals who love what we do. Our blend of talents and backgrounds enables us to solve challenging problems, design with empathy, and build robust mobile experiences.</p>
          <p class="columns small-12 medium-6 large-6">Self-improvement, education, creation, and collaboration are our top priorities; sharing this knowledge helps us understand our craft better. We want to inspire and be inspired, and strive to be the leaders in our field.</p>
        </article>
      </section>        
        {% include openings.html %}
        {% include footer.html %}
    </body>
</html>
